// Famous & social media Colors
$facebook: #3b5998;
$twitter: #55acee;
$googleplus: #dd4b39;
$pinterest: #BD061E;
$instagram: #E23F5C;
$linkedin: #007bb5;
$github: #000000;
$snapchat: #FDFC02;
$reddit: #ff4500;
$youtube: #ff0000;
$whatsapp: #4dc247;
$quora: #a82400;
$dropbox: #007ee5;
$flickr: #ff0084;
$tumblr: #32506d;
$vk: #45668e;
$spotify: #00e461;
$behance: #1769ff;